@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  overflow: auto;
}

@media (min-width: 1280px) {
  body {
    overflow: hidden;
  }
}
